AL1S_HTTPS_BIND_ADDRESS=0.0.0.0
AL1S_HTTPS_PUBLIC_PORT=8443
AL1S_S3_PUBLIC_ENDPOINT_URL=https://al1s.local:8443
AL1S_MQTT_TLS_BIND_ADDRESS=0.0.0.0
AL1S_MQTT_PUBLIC_HOST=al1s.local
AL1S_MQTT_PUBLIC_PORT=8883
AL1S_MQTT_PUBLIC_TLS_ENABLED=true
